h1, h2 {
    font-family: 'Times New Roman', Times, serif;

}

nav { 
    font-weight: 700;
}

.container{
    margin: 20px auto;
}
.conteudo{
    line-height: 1.5cm;

}
form{
    border-width: 1px;
    color: gray;
    padding: 10px auto;
}
p{
    color: green;
}
button{
    background-color: blue;
    color:white;
}
footer{
    border-top: 2px solid red;
}
header{
    background-color: aqua;
    color: white;
    margin: 10px;
}
nav{
    margin: 2px;
    color: black;
}
title{
    font-size: medium;
    text-align: center;
    color:black
}