h1, h2 {
    font-family: 'Times New Roman', Times, serif;

}

nav { 
    font-weight: 700;
}

.container{
    margin: 20px auto;
}
.conteudo{
    line-height: 1.5cm;

}
form{
    border-width: 2px;
    color: gray;
    padding: 2,5px 2,5px 2,5px 2,5px;
}
